@font-face {
  font-family: 'geometrialight';
  src: url('../fonts/geometria-light-webfont.woff2') format('woff2'),
       url('../fonts/geometria-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometriaregular';
  src: url('../fonts/geometria-webfont.woff2') format('woff2'),
       url('../fonts/geometria-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometriamedium';
  src: url('../fonts/geometria-medium-webfont.woff2') format('woff2'),
       url('../fonts/geometria-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geometriabold';
  src: url('../fonts/geometria-bold-webfont.woff2') format('woff2'),
       url('../fonts/geometria-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bodoniboldcyrillic';
  src: url('../fonts/Bodoni_Bold_Cyrillic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_100-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_100-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* *** All styles *** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
} */

body {
  font-family: sans-serif;
  /* font-family: 'geometriaregular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; */
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.body--white-bg {
  background-image: none;
  color: #2a3a4b;
}

ol, ul {
  list-style: none;
  padding: 0;
}

/* h1 {
  font-family: 'geometriabold';
  font-size: 42px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 20px;
  padding-top: 33px;
}

h2 {
  font-family: 'geometriabold';
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 20px;
}

article > h2 {
  font-family: 'geometriaregular';
  font-weight: 400;
  margin-bottom: 8px;
}

article p {
  margin-bottom: 16px;
} */

img {
  max-width: 100%;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.content {
  text-align: center;
}

/* .inline-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: 'geometriamedium';
  font-weight: 500;
  text-decoration: none;
  color: #fffeba;
}

.inline-link::after {
  position: absolute;
  bottom: 4px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fffeba;
} */

::-webkit-scrollbar {
  width: 4px;
  padding-right: 9px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  color: #f17a4d;
  background: #f17a4d;
} 

.br {
  display: block;
}


/* *** Header *** */

.header {
  position: relative;
  min-height: 200px;
  font-family: 'geometriabold';
}

.header--image-bg {
  background-image: url("../images/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.main-menu {
  text-align: center;
  padding-top: 41px;
}

.main-menu ul,
.main-menu li {
  display: inline-block;
  vertical-align: top;
}

.main-menu ul {
  padding-left: 22px;
}

.main-menu li {
  margin-right: 15px;
}

.main-menu li:nth-child(4) {
  margin-right: 254px;
}

.main-menu li:last-child {
  margin-right: 0;
}

.main-menu__item {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.main-menu__item:hover,
.main-menu__item--active {
  color: #f17a4d;
}

.main-menu__item--active::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #f17a4d;
}

.logo {
  position: absolute;
  top: 16px;
  left: calc(50% - 158px);
}

/* *** Main content *** */

/* .content {
  height: 100%;
} */

/* Home */

.entry-button {
  display: block;
  width: 392px;
  height: 60px;
  font-family: 'geometriabold';
  font-size: 13px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 22px;
  background: -webkit-linear-gradient(-68deg, #f79249 35%, #ef714f 65%);
  background: -moz-linear-gradient(-68deg, #f79249 35%, #ef714f 65%);
  background: -o-linear-gradient(-68deg, #f79249 35%, #ef714f 65%);
  background: -ms-linear-gradient(-68deg, #f79249 35%, #ef714f 65%);
  background: linear-gradient(158deg, #f79249 35%, #ef714f 65%);
  background-color: #2a3a4b;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 18px 35px 0px rgba(239, 96, 78, 0.35), 0px 8px 13px 0px rgba(244, 120, 75, 0.13);
  cursor: pointer;
}

.slider {
  position: absolute;
  left: 0;
  bottom: 131px;
  width: 990px;
  text-align: left;
  margin-left: 70px;
}

.slider-header p,
.slider-header a {
  display: inline-block;
  vertical-align: top;
}

.slider-header p {
  font-family: 'geometrialight';
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 15px;
}

.slider-header a {
  position: relative;
  top: -14px;
  width: 164px;
  height: 50px;
  font-family: 'geometriaregular';
  font-size: 13px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border: 2px solid #f79149;
  border-radius: 25px;
}

.slider-header a:hover {
  background-color: #f79149;
}

.slider-content {
  margin-bottom: 34px;
}

.slider-content__item {
  display: none;
}

.slider-content__item--active {
  display: block;
}

.slider-content__item a {
  font-family: 'bodoniboldcyrillic';
  font-size: 60px;
  text-decoration: none;
  color: #fff;
}

.slider-content__item span {
  display: block;
  font-family: 'museo_sans_cyrl100';
  font-size: 20px;
  padding-top: 10px;
}

.slider-pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.slider-pagination a {
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slider-pagination a.slider-pagination__item--active {
  background-image: linear-gradient(158deg, #f79249 0%, #ef714f 100%);
  border: none;
}

/* Seminars & Consultations */

.tabs-title {
  display: inline-block;
  vertical-align: top;
  padding-top: 107px;
  margin-bottom: 41px;
}

.tabs-title__item {
  display: inline-block;
  vertical-align: top;
  font-family: 'bodoniboldcyrillic';
  font-size: 60px;
  color: #f79149;
  border-bottom: 1px dotted #f79149;
  cursor: pointer;
}

.tabs-title__item--active {
  color: #2a3a4b;
  border-bottom: none;
  cursor: default;
}

.tabs-title__item--seminars {
  margin-right: 42px;
}

.seminars--wrapper p {
  font-family: 'geometriamedium';
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 22px;
}

.tabs-seminars {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-bottom: 40px;
}

.tabs-seminars__item {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  font-family: 'geometriamedium';
  font-size: 13px;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  color: #2a3a4b;
  border: 2px solid #f79149;
  cursor: pointer;
}

.tabs-seminars__item--active {
  background-color: #f79149;
  color: #fff;
  cursor: default;
}

.tabs-seminars__item--tile {
  padding-left: 30px;
  padding-right: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tabs-seminars__item--list {
  padding-left: 20px;
  padding-right: 30px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.seminars-list {
  text-align: left;
  margin-bottom: 140px;
}

.seminars-list__item {
  position: relative;
  height: 55px;
  padding-left: 21px;
  border-top: 1px solid #fce4dc;
}

.seminars-list__item--active {
  background-color: #fce4dc;
}

.seminars-list__item a {
  font-family: 'museo_sans_cyrl100';
  font-size: 20px;
  line-height: 58px;
  text-decoration: none;
  color: #2a3a4b;
}

.seminars-list__item--active a:hover {
  color: #f0774e;
}

.seminars-list__item .entry-button {
  position: absolute;
  top: -3px;
  right: 0;
  display: none; 
  width: 272px;
  margin-top: 0;
  z-index: 1;
}

.seminars-list__item--active .entry-button {
  display: block;
}

.seminars-list__item--active .entry-button:hover {
  background: -webkit-linear-gradient(-68deg, #fd5616 31%, #fa4c18 69%);
  background: -moz-linear-gradient(-68deg, #fd5616 31%, #fa4c18 69%);
  background: -o-linear-gradient(-68deg, #fd5616 31%, #fa4c18 69%);
  background: -ms-linear-gradient(-68deg, #fd5616 31%, #fa4c18 69%);
  background: linear-gradient(158deg, #fd5616 31%, #fa4c18 69%);
}

.seminars-tile {
  display: none;
  margin-bottom: 55px;
}

.seminars-tile__block {
  margin-bottom: 2px;
}

.seminars-tile__item {
  position: relative;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;
}

.seminars-tile__item--horizontal,
.seminars-tile__item--horizontal a {
  display: block;
  width: 778px;
  height: 398px;
}

.seminars-tile__item--vertical,
.seminars-tile__item--vertical a {
  display: block;
  width: 388px;
  height: 798px;
}

.seminars-tile__block .seminars-tile__item:nth-child(2) {
  margin-bottom: 4px;
}

.seminars-tile__block--right .seminars-tile__item--vertical {
  float: right;
}

.seminars-tile__block--left .seminars-tile__item--vertical {
  float: left;
}

.seminars-tile__block--left .seminars-tile__item--horizontal {
  margin-left: 392px;
}

.seminars-tile__item span {
  position: absolute;
  bottom: 42px;
  font-family: 'bodoniboldcyrillic';
  font-size: 40px;
  text-align: left;
  color: #fefefe;
}

.seminars-tile__item--horizontal span {
  left: 54px;
  max-width: 655px;
}

.seminars-tile__item--vertical span {
  left: 29px;
}

.seminars-tile__item--1 {
  background-image: url("../images/tile/03.png");
}

.seminars-tile__item--1:hover {
  background-image: url("../images/tile/03_hover.png");
}

.seminars-tile__item--2 {
  background-image: url("../images/tile/01.png");
}

.seminars-tile__item--2:hover {
  background-image: url("../images/tile/01_hover.png");
}

.seminars-tile__item--3 {
  background-image: url("../images/tile/02.png");
}

.seminars-tile__item--3:hover {
  background-image: url("../images/tile/02_hover.png");
}

.seminars-tile__item--4 {
  background-image: url("../images/tile/04.png");
}

.seminars-tile__item--4:hover {
  background-image: url("../images/tile/04_hover.png");
}

.seminars-tile__item--5 {
  background-image: url("../images/tile/05.png");
}

.seminars-tile__item--5:hover {
  background-image: url("../images/tile/05_hover.png");
}

.seminars-tile__item--6 {
  background-image: url("../images/tile/06.png");
}

.seminars-tile__item--6:hover {
  background-image: url("../images/tile/06_hover.png");
}

.seminars-tile__item--7 {
  background-image: url("../images/tile/09.png");
}

.seminars-tile__item--7:hover {
  background-image: url("../images/tile/09_hover.png");
}

.seminars-tile__item--8 {
  background-image: url("../images/tile/07.png");
}

.seminars-tile__item--8:hover {
  background-image: url("../images/tile/07_hover.png");
}

.seminars-tile__item--9 {
  background-image: url("../images/tile/08.png");
}

.seminars-tile__item--9:hover {
  background-image: url("../images/tile/08_hover.png");
}

.seminars-tile__item--10 {
  background-image: url("../images/tile/10.png");
}

.seminars-tile__item--10:hover {
  background-image: url("../images/tile/10_hover.png");
}

.seminars-tile__item--11 {
  background-image: url("../images/tile/11.png");
}

.seminars-tile__item--11:hover {
  background-image: url("../images/tile/11_hover.png");
}

.seminars-tile__item--12 {
  background-image: url("../images/tile/12.png");
}

.seminars-tile__item--12:hover {
  background-image: url("../images/tile/12_hover.png");
}

.seminars-tile__item--13 {
  background-image: url("../images/tile/15.png");
}

.seminars-tile__item--13:hover {
  background-image: url("../images/tile/15_hover.png");
}

.seminars-tile__item--14 {
  background-image: url("../images/tile/13.png");
}

.seminars-tile__item--14:hover {
  background-image: url("../images/tile/13_hover.png");
}

.seminars-tile__item--15 {
  background-image: url("../images/tile/14.png");
}

.seminars-tile__item--15:hover {
  background-image: url("../images/tile/14_hover.png");
}

.seminars-tile__item--16 {
  background-image: url("../images/tile/16.png");
}

.seminars-tile__item--16:hover {
  background-image: url("../images/tile/16_hover.png");
}

.seminars-tile__item--17 {
  background-image: url("../images/tile/17.png");
}

.seminars-tile__item--17:hover {
  background-image: url("../images/tile/17_hover.png");
}

.seminars-tile__item--18 {
  background-image: url("../images/tile/18.png");
}

.seminars-tile__item--18:hover {
  background-image: url("../images/tile/18_hover.png");
}

.seminars-tile__item--19 {
  background-image: url("../images/tile/21.png");
}

.seminars-tile__item--19:hover {
  background-image: url("../images/tile/21_hover.png");
}

.seminars-tile__item--20 {
  background-image: url("../images/tile/19.png");
}

.seminars-tile__item--20:hover {
  background-image: url("../images/tile/19_hover.png");
}

.seminars-tile__item--21 {
  background-image: url("../images/tile/20.png");
}

.seminars-tile__item--21:hover {
  background-image: url("../images/tile/20_hover.png");
}

.seminars-tile__item--22 {
  background-image: url("../images/tile/22.png");
}

.seminars-tile__item--22:hover {
  background-image: url("../images/tile/22_hover.png");
}

.seminars-tile__item--23 {
  background-image: url("../images/tile/23.png");
}

.seminars-tile__item--23:hover {
  background-image: url("../images/tile/23_hover.png");
}

.seminars-tile__item--24 {
  background-image: url("../images/tile/24.png");
}

.seminars-tile__item--24:hover {
  background-image: url("../images/tile/24_hover.png");
}


/* *** Footer *** */

.footer {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 100%;
  font-family: 'museo_sans_cyrl100';
  font-size: 15px;
  padding-bottom: 50px;
}

.footer--white-bg {
  position: static;
}

.footer__copyrights,
.footer__links {
  float: left;
}

.footer__copyrights {
  margin-left: 70px;
  margin-right: 40px;
}

.footer__social-links {
  float: right;
  margin-right: 50px;
}

.footer__links li,
.footer__social-links li {
  display: inline-block;
  vertical-align: top;
}

.footer__links li {
  margin-right: 20px;
}

.footer__links a {
  color: #fff;
}

.footer--white-bg .footer__links a {
  color: #f0774e;
}

.footer__social-links li {
  margin-right: 15px;
}

.footer__social-links li:last-child {
  margin-right: 0;
}

.social-links__item {
  position: relative;
  display: block;
  font-size: 0;
  background-image: url("../images/sprite.fw.png");
}

.social-links__item--ig {
  width: 16px;
  height: 16px;
  background-position: -48px -1px;
}

.footer--white-bg .social-links__item--ig {
  background-position: -48px -20px;
}

.social-links__item--vk {
  top: 2px;
  left: 1px;
  width: 19px;
  height: 12px;
  background-position: -25px -3px;
}

.footer--white-bg .social-links__item--vk {
  background-position: -25px -22px;
}

.social-links__item--tw {
  top: 1px;
  left: -1px;
  width: 22px;
  height: 15px;
  background-position: -1px -1px;
}

.footer--white-bg .social-links__item--tw {
  background-position: -1px -20px;
}

.social-links__item--fb {
  top: 1px;
  left: -2px;
  width: 8px;
  height: 15px;
  background-position: -92px -1px;
}

.footer--white-bg .social-links__item--fb {
  background-position: -92px -20px;
}

.social-links__item--yt {
  width: 22px;
  height: 16px;
  background-position: -67px -1px;
}

.footer--white-bg .social-links__item--yt {
  background-position: -67px -20px;
}
